
/* container length */

@media (min-width: 1300px) {
  .container {
    width: 1270px;
  }
}

.navbar-default{
	background-color: #1C3F94;
}

.navbar-default .navbar-nav>li>a{
	color: #eeeeee;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: #1C3F94;
}

.navbar-default .navbar-nav>.active>a{
	color: #ffffff;
	background-color:#1C3F94;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color:#1C3F94;
	color: #ffffff;	
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #cccccc;
}

.navbar-default .navbar-brand{
	color: #ffffff;
	text-transform: uppercase;
}

/* jobs.html page styles only */

/* CSS used here will be applied after bootstrap.css */

.top30 { margin-top:30px; }

body { font-family: 'Open Sans', sans-serif; }

.pagetitle {border-bottom:1px solid #cccccc; padding-bottom:30px; margin-bottom:30px;}

#jobs td {
    padding: 20px 10px;
}

.job-location {text-align:right;}

.company-name{
	font-weight: bold;
}
/* end jobs.html pages style */

.job-list{
	border: 1px solid #bbbbbb;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.job-title a {
	text-decoration: none;
	color: #5282B7;
	text-decoration: none;
	font-weight: bold;
}

.company-title {
	text-decoration: none;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}

.company-title p {
	margin-bottom: 3px;
}

.job-summary{
	color: #555555;
	line-height: 18px;
	text-align: left;
	}

.job-meta-data{
	color: #F0AD4E;
}

.job-list button{
		width: 120px;
		height: 40px;
		background: #1C3F94;	
		border-style: none;
}

.h3{
	font-color: #bbbbbb;
	font-style: 20px;
}



.profile img{
	width: 100px;
	height: 100px;
	border-radius: 3px;
}

.job-list .col-md-2{
	margin-right: 0px;
}

.job-list button:hover{
	background: #1C3F94;
}

.job-list button{
	background: #337AB7;
}

h4{
	color: #337AB7;
	font-size: 18px;
	font-family: none;
	padding-top: 5px;
}

.icon{
	color: #337AB7;
}


 

 .button{
 
 	display: block;
 	padding: 8px;
 	border-radius: 3px;
 	width: 100px;
 	text-align: center;
	color: #FFF;
	background: #337AB7;
 }

 .button a{
 	text-decoration: none;
 	color: #FFF;


 }

 .button:hover{
 	text-decoration: none;
 	color: #FFF;
 	background: #1C3F94;


 }

 .space{
 	padding-right: 10px;
 }

 .red{
 	color: #FB5353;
}

 .blue{
 	color: #4C7AB7;
 }

.paragraph{
	
	padding-bottom: 10px;
	
	}

.paragraph p{
	line-height: 24px;
	color: #555555;
	text-align: left;
	
}

.h5{
	color: #333333;
	font-weight: bold;
	font-size: 15px;
}

.job-title{
	text-transform: uppercase;
	color: #B89A94;
}