<footer>
	<div class="container">
		{% block footer %} 
			<div class="row">
				<div class="col-md-3">
					{% block footer1%}
						<h3>Footer 1</h3>
						<ul>
							<li>Link 1</li>
							<li>Link 2</li>
							<li>Link 3</li>
							<li>Link 4</li>
						</ul>
					{%endblock%}
				</div>
				<div class="col-md-3">
					{% block footer2%}
						<h3>Footer 2</h3>
						<ul>
							<li>Link 1</li>
							<li>Link 2</li>
							<li>Link 3</li>
							<li>Link 4</li>
						</ul>
					{%endblock%}
				</div>
				<div class="col-md-3">
					{% block footer3%}
						<h3>Footer 3</h3>
						<ul>
							<li>Link 1</li>
							<li>Link 2</li>
							<li>Link 3</li>
							<li>Link 4</li>
						</ul>
					{%endblock%}
				</div>
				<div class="col-md-3">
					{% block footer4%}
						<h3>Footer 4</h3>
						<ul>
							<li>Link 1</li>
							<li>Link 2</li>
							<li>Link 3</li>
							<li>Link 4</li>
						</ul>
					{%endblock%}
				</div>
			</div>
		{% endblock footer %}
	</div>	
</footer>