{% load staticfiles %}
<!-- start: Meta -->
	<meta charset="utf-8">
	<title>{% block title%}Sparrow Jobs Dashboard {% endblock title %}</title>
	<meta name="description" content="Sparrow Jobs Dashboard">
	<meta name="author" content="Sparrow Jobs">
	<meta name="keyword" content="Job portal Nepal, vacency in nepal, it jobs in nepal, ngo jobs in nepal, ingo jobs in nepal">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->	
	{% include 'dashboard/css.html' %}
</head>