<div class="col-md-6">
				<div class="paragraph">
					<h3 class="job-title">Company Overview</h3>
					<div class="row">
						<div class="col-md-6">
							<small class="h5">Industry</small>
							<p>Software Engineering</p>

							<small class="h5">Website</small>
							<a href="http://xtermnepal.com">http://xtermnepal.com</a>
						</div><!-- end col-md-6 -->

						<div class="col-md-6">
							<small class="h5">Company size</small>
							<p>10 - 15</p>

							<small class="h5">Telephone</small>
							<p>01-5006354</p>
						</div><!-- end col-md-6-->
				
					</div><!-- row -->
					<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis animi ex alias, architecto amet, commodi dolore labore cupiditate in, et harum. Praesentium nesciunt tempora tenetur ex labore nobis asperiores unde.</p>
				</div>

				<h3 class="job-title">Why Join Us</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus qui reiciendis veritatis deserunt soluta tempore necessitatibus ipsa! Veniam laudantium officia consequuntur, vel dolorum sequi reiciendis? Hic et animi beatae. Sequi.</p>

				
				</div><!-- paragraph -->
			</div><!-- end col-md-6 -->



