<div class="col-md-6">
				<div class="paragraph">
					<h3 class="job-title">Company Overview</h3>
					<div class="row">
						<div class="col-md-6">
							<small class="h5">Industry</small>
							<p>{{job.company.industry.name | title }}</p>

							<small class="h5">Website</small>
							<a href="{{job.company.website}}">{{job.company.website}}</a>
						</div><!-- end col-md-6 -->

						<div class="col-md-6">
							<small class="h5">Company size</small>
							<p>{{job.company.company_size}}</p>

							<small class="h5">Telephone</small>
							<p>{{job.company.telephone}}</p>
						</div><!-- end col-md-6-->
				
					</div><!-- row -->
					<div>
					{{job.company.overview | safe }}
				</div>

				<h3 class="job-title">Why Join Us</h3>
				{{job.company.why_jon_us | safe }}
				
				</div><!-- paragraph -->
			</div><!-- end col-md-6 -->



