<div class="row">

	<div class="col-md-12">
		<img class="img-responsive" src="http://placehold.it/720X240" alt="{{job.company.name}}">
	</div><!-- col-md-12 -->
</div><!-- row -->

<hr>

<div class="row">
	<div class="col-md-3">
		<a class="profile" href=""><img  src="http://placehold.it/100X100" alt="{{job.company.name}}"></a>
	</div><!-- col-md-3 company Logo-->

	<div class="col-md-6">
		<h3 class="job-title">{{job.title | title 	}}</h3>
			<p class="company-title">{{job.company.name | title }}</p>
	</div>

	<div class="col-md-3"> 

		<h5 class="company-title  pull-right"> <span class="space red glyphicon glyphicon-map-marker"></span>{{job.location | title }}</h5><br>


		<div class="button pull-right">
			<a href="#">Apply</a>
		</div>

		<br>
		
		
		<h5 class="company-title  pull-right"> <span class="glyphicon blue glyphicon-briefcase space"></span>{{job.job_level | title }}</h5><br>



			
				
	</div><!-- col-md -3-->	
</div><!-- end row -->
		
<!-- end of company header -->