<div class="row">
	<div class="col-md-12">
		<img class="img-responsive" src="http://placehold.it/720X240" alt="company banner">
	</div><!-- col-md-12 -->
</div><!-- row -->

<hr>

<div class="row">
	<div class="col-md-3">
		<a class="profile" href="#"><img  src="http://placehold.it/100X100"></a>
	</div><!-- col-md-3 company Logo-->

	<div class="col-md-6">
		<h3 class="job-title">Job Title </h3>
			<p class="company-title">company name</p>
	</div>

	<div class="col-md-3"> 
		<div class="button pull-right">
			<a href="#">Apply</a>
		</div>

		<h5 class="company-title  pull-right"> <span class="glyphicon blue glyphicon-briefcase space"></span> Entry</h5>
					
		<div class="company-title pull-right"> <!-- Location -->
			<span class=" space red glyphicon glyphicon-map-marker"></span>Kathmandu
		</div>
				
	</div><!-- col-md -3-->	
</div><!-- end row -->
		
<!-- end of company header -->