<div class="well">
    <div class="row">
      <form action="{% url "jobs:search" %}" method="GET">
        <div class="col-sm-4">
          <input type="text" class="form-control input-sm" placeholder="Search Job By Title " name="title" id="srch-term">
        </div>
        <div class="col-sm-4">
         <input type="text" class="form-control input-sm" placeholder="Search Job By City, State, Country, or ZIP" name="location" id="srch-term">
      </div>
      <div class="col-sm-2 col-xs-6">
         <select class="form-control input-sm">
            <option>Any</option>
            <option>5 miles</option>
            <option>10 miles</option>
            <option>25 miles</option>
          </select>
      </div>

      <div class="col-sm-2 col-xs-6">
        <button class="btn btn-block btn-primary btn-sm">Search</button>
      </div>
    </form>
    </div><!-- row-->
    
  </div><!-- well -->
  