{% extends 'base.html' %}
{% block content %}

<div class="container">  
  {% include 'jobs/jobsearch.html' %}
  
    <div class="row top30">
    {% include 'jobs/sidebar.html' %}
    <div class="col-md-9">
      {% include 'jobs/recentjobs.html' %}
      <hr>
    
      <ul class="pagination pagination-lg pull-right">
        <li><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
      </ul>
      
    </div><!-- col-md-9 -->
  </div><!-- row -->
</div><!-- container -->

{% endblock content%}