  <h4>Recent Jobs</h4>

<div class="row job-list">
          <a href="#">
          <div class="col-md-2">
            <a href="#" class="profile"><img src="http://placehold.it/100X100" alt=""></a>
          </div>
          <div class="col-md-8">
            <p class="job-title"><a href="#">Senior System Administrator</a></p>
            <p class="company-title">X Term Pvt Ltd</p>
            <p class="job-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia, autem. Error sit praesentium ratione impedit repell</p>
            <p class="job-meta-data">Education: Master | Views: 836 | DeadLine: 7 days left </p>
          </div>
          <div class="col-md-2"></div>
          </a>
            <button class="btn btn-success">Apply</button>
</div>

<div class="row job-list">
          <a href="#">
          <div class="col-md-2">
            <a href="#" class="profile"><img src="http://placehold.it/100X100" alt=""></a>
          </div>
          <div class="col-md-8">
            <p class="job-title"><a href="#">Senior System Administrator</a></p>
            <p class="company-title">X Term Pvt Ltd</p>
            <p class="job-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia, autem. Error sit praesentium ratione impedit repell</p>
            <p class="job-meta-data">Education: Master | Views: 836 | DeadLine: 7 days left </p>
          </div>
          <div class="col-md-2"></div>
          </a>
            <button class="btn btn-success">Apply</button>
</div>