  {# job will come from base.html #}

  {% if jobs %}
  <h4>Recent Jobs</h4>
    {% for job in jobs %}

      <div class="row job-list">
        <div class="col-md-2">
          <a href="#" class="profile"><img src="http://placehold.it/100X100" alt=""></a>
        </div> <!-- end col-md-2 -->

        <div class="col-md-8">
          <p class="job-title"><a href="{% url 'jobs:job' job.id %}">{{job.title | title }}</a></p>
          <p class="company-title">{{job.company.name | title }}</p>
          <p class="job-summary">{{job.summary | slice:":255" }}</p>
          <p class="job-meta-data">Job Level: {{job.job_level | title}} | Views: 836 | Deadline: {{job.expire_at | date }} </p>
        </div><!-- end col-md-8 -->
        <div class="col-md-2"></div>
        </a>
          <button class="button">Apply</button>
      </div><!-- end col-md-2 -->
  {% endfor %}
{% else %}
<p>No jobs Found</p>
{% endif %}