  <div class="col-md-3">
      
      <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse" data-target="#demo">Refine your search <span class="caret"></span>
        
      </button>
      
      <div id="demo" class="collapse in">
        <h4>Type</h4>
        
        
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default btn-xs active" role="button">Entry</a>
          <a class="btn btn-default btn-xs" role="button">Intermediate</a>
          <a class="btn btn-default btn-xs" role="button">Fulltime</a>
        
        </div>
        <hr>
        
        <h4>Salary Range</h4>
        
        
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
        
        
        
        <hr>
        <div class="list-group list-group">
          <h4 class="">Category</h4>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item </a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>  
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a> 
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
          
          <div id="categories" class="collapse">
            
            <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
            <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
            <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a> 
            <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
            <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          </div>
          
          
          <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span class="caret"></span></button>
          
          <hr class="">
          
          <h4 class="">Industry</h4>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item </a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>  
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a> 
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a> 
          
          <div id="industry" class="collapse">
            
            <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
            <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
            <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a> 
            <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
            <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          </div>
          
          
          <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#industry">More <span class="caret"></span></button>
          
         
        </div>
        
      </div>
      
      
      <div class="hidden-sm hidden-xs">
        
        <hr>
        
        <div class="well">
          
          <h4>Post Job</h4>
          <p>Gain unlimited access to our entire course library.</p>
          <button class="btn btn-block btn-success">Post a Job</button>
          
          <hr>
          <p class="text-center ">Already a member? <a href="#">Sign in.</a></p>
        </div>
   
      </div>
      
      
    </div>